.logo {
    display: flex;
    padding: 20px 0 0 3em;
    a {
        text-decoration: none;
        font-family: 'IBM Plex Sans', sans-serif;
        color: rgb(90, 85, 85);
        font-size: 2em;
        font-weight: 700;
    }
}